---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hack Club Naval Armada Flag Referendum</title>

    <style is:global>
      @font-face {
        font-family: "Jolly Lodger";
        src: url("/fonts/JollyLodger.ttf") format("truetype");
      }

      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter.ttf") format("truetype");
      }
    </style>
  </head>
  <body class="bg-blue-400 px-10 py-5">
    <div
      class="rounded-2xl border-4 border-orange-600 bg-orange-400 p-5 [box-shadow:5px_5px_4px_rgba(234,99,0,0.75)]"
    >
      <h1
        class="font-jolly-lodger flex flex-row flex-wrap items-center justify-center text-center text-7xl"
      >
        <span class="text-red-500 lg:mr-5">HACK CLUB NAVAL ARMADA</span>
        <span class="text-purple-600">FLAG REFERENDUM</span>
      </h1>
    </div>
    <div
      class="mx-5 my-5 rounded-2xl border-4 border-sky-800 bg-sky-600 p-3 px-5 text-center text-white [box-shadow:5px_5px_4px_rgba(0,75,139,0.75)] md:mx-10 md:px-16"
    >
      <p class="text-3xl font-bold md:text-4xl lg:text-5xl">
        Hack Club needs a navy. Navies need flags.
      </p>
      <p class="my-1 text-2xl font-bold md:text-3xl lg:text-4xl">
        This is the Hack Club Naval Armada Flag Referendum.
      </p>
      <p class="text-xl md:text-2xl lg:text-3xl">
        The winning flag will fly from the floating bouncy castle at Maker
        Faire, from the flagpole at HQ, and eventually from every vessel in our
        nascent global armada.
      </p>
      <!--TODO: implement slack sign in -->
      <p class="my-1 text-xl underline md:text-2xl lg:text-3xl">
        Sign in with Slack to vote.
      </p>
    </div>
  </body>
</html>
